/* Global site */
*,
:after,
:before {
    box-sizing: border-box
}

body,
h1,
h2,
h3,
h4 {
    margin: 0
}

h1,
h2,
h3,
h4,
li,
p {
    word-break: break-word
}

body,
html {
    overflow-x: hidden
}

html:focus-within {
    scroll-behavior: smooth
}

img {
    display: block;
    max-width: 100%
}

@media (prefers-reduced-motion:reduce) {

    *,
    :after,
    :before {
        animation-duration: .01ms !important;
        animation-iteration-count: 1 !important;
        scroll-behavior: auto !important;
        transition-duration: .01ms !important
    }

    html {
        scroll-behavior: auto
    }
}

@font-face {
    font-display: swap;
    font-family: Oxygen;
    font-style: normal;
    font-weight: 400;
    src: local("Oxygen"), local("Oxygen"), url(../fonts/oxygen-v15-latin-ext-regular.woff2) format("woff2")
}

body {  
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: auto;
    grid-template-areas:
            "header header header header"
            "main main main main"
            "footer footer footer footer";
    min-height: 100vh;
    font-family: sans-serif;
        line-height: 1.5;
        text-rendering: optimizeSpeed
}
/* Header and menu */
header {
    grid-area: header;
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
    justify-content: space-between;;
    align-items: center;
    height: 10vh;
    background-color: antiquewhite;
}

ul.menu {
list-style-type: none;
display: flex;
flex-direction: row;

}

li.sub-menu {
 margin: 12px;
}

main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 86vh;
    background-color: azure;
}

article {
    width: 100%;
    max-width: 1280px;
    padding: 2rem;
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    background-color: antiquewhite;
}
    
h1 {
    color: green;
}