<!DOCTYPE html>
<html lang="fr" dir="ltr">
    {% include 'partials/head.njk' %}
    <body>
        {% include 'partials/header.njk' %}
        <main>
            <article>
                {{ content | safe }}
            </article>
        </main>
        {% include 'partials/footer.njk' %}
    </body>
</html>