<header
    class="page-header">
    {# {% include 'partials/topbar.njk' %} #}
    <a href="{{ siteparams.siteBaseURL }}">
        <img src="/assets/images/icons/favicon.png" width="75px" alt=""/>
        <h1>{{ siteTitle }}</h1>
    </a>
    {% include 'partials/navigation.njk' %}
</header>