{% set currentUrl = page.url %}
<nav>
    <ul role="list" class="menu navigation">
        <li class="sub-menu">
            <a {% if currentUrl === '/' %} aria-current="page" {% endif %} href="/">Accueil</a>
        </li>
        {% for link in collections.pages %}
            <li class="sub-menu">
                <a {% if currentUrl === link.url %} aria-current="page" {% endif %} href="{{ link.url }}">
                    {{ link.data.title }}
                </a>
            </li>
        {%- endfor %}
    </ul>
</nav>