{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
{% set navPages = collections.all | eleventyNavigation %}
<nav>
    <ul role="list" class="menu navigation">
        {%- for entry in navPages %}
            <li {% if entry.url == page.url %} class="menu active-page" {% endif %}>
                <a href="{{ entry.url }}">{{ entry.title }}</a>
            </li>
        {%- endfor %}
    </ul>
</nav>