@use "variables";
@use "reset";
@use "desktop";
@use "mobile";
@import "https://unpkg.com/open-props/open-props.min.css";
/* optional imports that use the props */
/* @import "https://unpkg.com/open-props/normalize.min.css";*/
@import "https://unpkg.com/open-props/buttons.min.css";

/* oxygen-300 - latin-ext */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/oxygen-v15-latin-ext-300.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/oxygen-v15-latin-ext-300.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oxygen-regular - latin-ext */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/oxygen-v15-latin-ext-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/oxygen-v15-latin-ext-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* oxygen-700 - latin-ext */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/oxygen-v15-latin-ext-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/oxygen-v15-latin-ext-700.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* Fix OpenProps Box Shadow */
html {
    --shadow-strength: 1%;
    --shadow-color: 220 3% 15%;
}

body {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: auto;
    grid-template-areas:
        "header header header header"
        "main main main main"
        "footer footer footer footer";
    min-height: 100vh;
    font-family: 'Oxygen';
    font-size: var(--font-size-fluid-0);
    line-height: var(--font-lineheight-3);
    text-rendering: optimizeSpeed;
    background-color: var(--blue-1);
}

/* Header and menu */
header {
    grid-area: header;
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: var(--purple-3);
}

ul.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

li.sub-menu {
    margin: 12px;
}

a {
    color: var(--teal-10);
    text-decoration: none;
    font-weight: var(--font-weight-6);
}

[aria-current]:not([aria-current="false"]) {
    font-weight: bold;
}

/* Main css and articles */
main {
    grid-area: main;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 86vh;
    background-color: var(--green-0);
}

article {
    width: 100%;
    max-width: 1280px;
    padding: var(--size-fluid-4);
}

/* Footer */
footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    background-color: var(--purple-3);
}

/* Global site custom */
h1 {
    font-size: var(--font-size-fluid-3);
    font-weight: var(--font-weight-6);
    line-height: var(--font-lineheight-6);
}

h2 {
    font-size: var(--font-size-fluid-2);
    font-weight: var(--font-weight-6);
    line-height: var(--font-lineheight-5);
}

h3 {
    font-size: var(--font-size-fluid-1);
    font-weight: var(--font-weight-5);
    line-height: var(--font-lineheight-4);
}

h4 {
    font-size: var(--font-size-fluid-0);
    font-weight: var(--font-weight-4);
    line-height: var(--font-lineheight-3);
}

p {
    color: var(--gray-11);
    font-size: var(--font-size-fluid-0);
    font-weight: var(--font-weight-4);
    line-height: var(--font-lineheight-3);
}

.btn {
    color: var(--gray-0);
    background-color: var(--teal-10);
    text-decoration: none;
    font-weight: var(--font-weight-6);
    margin-top: var(--size-fluid-2);
    margin-bottom: var(--size-fluid-2);
    padding: var(--size-fluid-1);
}
.btn:hover {
    animation: var(--animation-pulse) forwards;
}

.card {
    background-color: var(--teal-0);
    margin: var(--size-fluid-3);
}
